.card-container {
    position: absolute;
    display: flex;
    width: 100%;
}

.card {
    width: 35%;
    padding: 4%;
    margin: 5% 3%;
    /**
    background-color: #002145 !important;
    color: white !important;
    **/

}

.card:hover {
    cursor: pointer;
}