.primary-button {
    background-color: #00284d !important;
    color: white !important;
    margin-top: -4px;
}

.ir-WordPower-header {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    align-items: center;
}

.ir-WordPower-headerActions {
    display: flex;
    justify-content: space-around;
}

.ir-WordPower-headerActions button {
    margin-left: 10px;
}

.ir-WordPower-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    border: '2px solid #000';
    background: white;
    padding: 16px;
    border-radius: 4px;
}

.ir-WordPower-examples {
    display: flex;
    height: calc(100vh - 150px);
}

.ir-WordPower-saving {
    width: 25px;
    margin-bottom: -7px;
    margin-right: 8px;
}

.ir-WordPower-tabs {
    width: 250px;
    background: white;
}

.ir-WordPower-tabs button {
    text-align: left;
}

.ir-WordPower-tabpanels {
    margin: 0 10px;
    width: calc(100% - 230px);
    overflow: auto;
    padding: 16px;
}
