.selected-navbar {
    color: rgba(255,255,255,.85);
    border-bottom: 1px solid dodgerblue;
    padding: .5rem .5rem;
    align-self: center;
    display: block;
}

.selected-navbar:hover {
    color: rgba(255,255,255,.85);
    text-decoration: none;
}

.footer {
    color: white;
    background-color: #333333;
    text-align: center;
}

@media (max-width: 768px) {
    .footer {
        width: 0%;
        height: 0%;
    }
}
