.selected-navbar {
    color: rgba(255,255,255,.85);
    border-bottom: 1px solid dodgerblue;
    padding: .5rem .5rem;
    align-self: center;
    display: block;
}

.selected-navbar:hover {
    color: rgba(255,255,255,.85);
    text-decoration: none;
}
