@import url(//fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/BebasNeue-Regular.woff);
}

footer {
    font-family: 'Roboto', sans-serif;
}

.logopng {
    display: none;
}

.img-circle {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.img-circle:hover {
    border: 1px black solid;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn {
    font-family: 'Roboto', sans-serif;
}

.site_logo {
    width: 50%;
}

.badgeDiv {
    margin-top: 15px;
}

.stories {
    font-family: myFirstFont;
}

body {
    padding-top: 54px;
}

footer {
    height: 25vh;
    background-color: rgb(238, 238, 239) !important;
}

.first-layer {
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width:1199px) and (min-width:992px) {
    body {
        padding-top: 56px;
    }
    .first-layer {
        padding-left: 15%;
        padding-right: 15%;
    }
}

​ img {
    margin-bottom: 40px;
}

.img-circle {
    width: 100px;
    height: 100px;
}

#potato:hover {
    cursor: pointer;
}

.grey-row {
    background-color: rgb(238, 238, 239) !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .logosvg {
        display: none;
    }
    .logopng {
        display: block;
    }
}