.instructor-menu-link{
    display: flex;
}

.instructor-menu-link:hover{
    text-decoration: none;
}

.instructor-menu-link:focus{
}

.instructor-menu-bg-image {
    background-image: url("../../../../assets/graphic design/tancheong[1].whole.sero.no.white.jpg");
    background-size: 100%;
}

