
.addStoryContainer {
}

.editor-area{
    height: 100%;
}

.add-new-button {
    position: relative;
}

.add-icon {
    margin: 10%;
    color: white;
}

.add-button-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-area{
    float: right
}

.editor-editor{
    border: 2px solid #FAFAFA !important;
    background-color: #F1F1F1;
    border-radius: 2px !important;
    height: 80%;
}

.editor-wrapper{
    display: block !important;
    height: 400px !important;

}

.preview-container{
    padding-left: 15px;
    padding-right: 15px;
    overflow: scroll;
    max-height: 300px;
}

.section-divider{
    margin-top: 16px;
    margin-bottom: 16px;
}