.editor-modkr p, .editor-modkr span {
  font-family: 'source-han-serif-korean' !important;
}

.editor-editor{
  border: solid #000000 1rem
}

.modernKorean-font {
  font-family: 'source-han-serif-korean', sans-serif;
}