.lesson-filter-container {
    width: 60%;
}

.lesson-filter {
    background-color: whitesmoke;
    height: 80%;
    padding: 5%;
    margin: 5%;
    overflow-y: auto;
}

.lesson-button {
    width: 30%;
    background-color: #00284d;
    color: white;
    text-align: center;
    padding: 2%;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.character-box2 {
    border: 1px solid black;
    width: fit-content;
    padding: 1%;
    text-align: center;
    background-color: white;
    cursor: pointer;
    margin: 1% !important;
}
