.lesson-filter-container {
    width: 60%;
}

@media (max-width: 1000px) {
    .lesson-filter-container {
        width: 100%;
    }
}

.lesson-filter {
    background-color: whitesmoke;
    height: 80%;
    padding: 5%;
    margin: 5%;
    overflow-y: auto;
}

.lesson-header {
    display: flex;
}

.lesson-button {
    color: #00284d;
    text-align: center;
    padding: 6px 8px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #00284d;
    border-radius: 4px;
    width: max-content;
    font-weight: 600;
    margin: -10px 0 0 4px;
}

.lesson-button-chevron {
    padding: 3px !important;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.character-box2 {
    border: 1px solid black;
    width: fit-content;
    padding: 1%;
    text-align: center;
    background-color: white;
    cursor: pointer;
    margin: 1% !important;
}
