.ir-Profile {
    margin: 25px 40px;
}

.ir-Profile-greeting {
    display: flex;
}

.ir-Profile-username {
    margin-left: 12px;
    font-weight: 600;
    font-size: 28px;
    padding-top: 2px;
}

.ir-Profile-tabs {
    margin-right: 20px;
    background-color: #eee;
    border-radius: 4px;
}

.ir-Profile-cardContainer {
    width: 100%;
    overflow-x: scroll;
    display: inline-flex;
    margin-bottom: 24px;
}

.ir-Profile-card {
    cursor: pointer;
    font-size: 15px;
    min-width: 180px;
    padding: 20px;
    margin-right: 20px;
    background-color: #00284d !important;
    color: white !important;
    text-align: center;
}
