.translateContainer {
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    z-index: 100;
    display:flex;
    flex-direction: column;
}

.translateContainer .translateButton {
    background-color: #42b35b
}

.translateContainer .translateButton:hover {
    background-color: #328644

}

.storyHeader {
    padding-top: 28px;
    font-family: "'Cute Font', serif";
}
