.about-logo {
    text-align: center;
    width: 600px;
    display: flex;
}

.about-ubc-logo {
    text-align: center;
    width: 200px;
    margin: 50px 0;
}

.about-section{
    text-align: center;
}

.logo-container {
    width: 100%;
    padding: 3% 10%;
    background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
}
