.radical-filter-container {
    width: 60%;
    height: 100%;
}

.okpyeon-radical-container {
    display: flex;
}

.radical-result {
    width: 40%;
    background-color: whitesmoke;
    height: 100%;
    padding: 5%;
    margin: 3%;
    overflow-y: auto;
}

.eum-filter-container {
    width: 60%;
    height: 100%;
}

.okpyeon-hangul-container {
    display: flex;
}

.eum-result {
    width: 40%;
    background-color: whitesmoke;
    height: 100%;
    padding: 5%;
    margin: 3%;
    overflow-y: auto;
}

.radical-first-filter {
    background-color: whitesmoke;
    padding: 5%;
    height: 50%;
    margin: 5%;
}

.radical-second-filter {
    background-color: whitesmoke;
    margin: 5%;
    height: 50%;
    padding: 5%;
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .okpyeon-hangul-container {
        display: inline-block;
    }
    .eum-filter-container{
        width: 100%;
    }
    .eum-result{
        width: 94%;
    }
}

@media (max-width: 1000px) {
    .okpyeon-radical-container {
        display: inline-block;
    }
    .radical-filter-container{
        width: 100%;
    }
    .radical-result{
        width: 94%;
    }
    h3 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 13px;
    }
}

.character-box {
    border: 1px solid black;
    display: table-cell;
    padding: 1% 5%;
    background-color: white;
}

.character-box:hover {
    background-color: #bdc1c9;
    cursor: pointer;
}

.hanja {
    width: 20%;
    display: inline-table;
    text-align: left;
}

.hangul {
    width: 80%;
    display: inline-table;
    text-align: right;
}

