.radical-filter-container {
    width: 60%;
    height: 100%;
}

.radical-result {
    width: 40%;
    background-color: lightsteelblue;
    height: 100%;
    margin: 5%;
}

.radical-first-filter {
    background-color: lightsteelblue;
    padding: 5%;
    height: 50%;
    margin: 5%;
}

.radical-second-filter {
    background-color: lightsteelblue;
    margin: 5%;
    height: 50%;
    padding: 5%;
}
