.flashcard-options-button-correct {
    color: #42b35b;
    border: #42b35b
}

.flashcard-options-button-correct {
    color: red;
    border: red
}

.Flashcards-question-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
}

.Flashcards-question-count {
    margin-top: 8px;
    float: left;
    display: flex;
    width: 50%;
}

.toggle-button {
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 1% 5%;
}

.toggle-button:hover {
    cursor: pointer;
}

.flashcard-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 850px;
}

.start-over-button-351 {

}

@media (max-width: 1250px) {
    .flashcard-container {
        height: 60%;
        width: 70%;
    }
}

@media (max-width: 900px) {
    .flashcard-container {
        height: 60%;
        width: 90%;
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }
}

@media (max-width: 700px) {
    .flashcard-container {
        height: 75%;
    }

    .start-over-button-351 {
        font-size: 10px;
    }
}
