.main-text {
    display: flex;
    align-items: flex-start;
}

.text {
    width: 50%;
    padding: 7%;
}

.img {
    width: 50%;
    padding: 5%;
    align-self: center;
}

.main-text-story-header {
    width: 100%;
}

.main-text-title {
    width: 100%;
    padding-top: 28px;
    text-align: center;
    /*font-family: "'Cute Font', serif";*/
}

@media (max-width: 1200px) {
    .main-text {
        display: block;
    }

    .text {
        width: 100%;
        padding: 7%;
    }

    .img {
        width: 100%;
        padding: 5%;
    }
}
