.flashcard-deck-card {
    width: fit-content;
    padding: 1% 3%;
    margin-right: 2%;
    background-color: #00284d !important;
    color: white !important;
}

.flashcard-deck-card:hover {
    cursor: pointer;
    background-color: #0a66b7 !important;
}

.flashcard-deck-container {
    display: flex;
}
