.new-hanja {
  padding: 20px;
}

.new-hanja-card {
  width: 100vh;
  padding: 2%;
  margin: 4%;
  text-align: left;
  color: grey;
}

.new-hanja-box {
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
}
.new-hanja-char {
  text-align: center;
}

.new-hanja-con {
  display: grid;
}

.hanja-char svg {
  width: 150px;
  height: 150px;
}
