.word-power-grid-card {
    margin: 1% !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.word-power-card {
    padding: 0.5%;
    width: 60%;
}

.word-power-card-div-1 {
    color: #19609d;
    width: 100%;
}

.word-power-card-div-2 {
    overflow-x: auto;
    overflow-y: auto;
    height: 330px;
    width: 100%;
    justify-content: flex-start;
}

.wordTab-label-flexbox {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
}

.wordTab-label-flexbox-1 {
    display: flex;
    justify-content: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 20px;
}

.wordTab-label-flexbox-2 {
    display: flex;
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 10px;
    font-style: italic;
    white-space: nowrap;
}

.no-data {
    padding-top: 20%;
    padding-left: 20%;
    color: tomato;
    font-style: italic;
}

.no-more-yemun-msg {
    color: tomato;
}

.word-power-card-content {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.word-power-card-left {
    width: 100%;
}

.word-power-card-content-left {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
}

.word-power-wordTabs {
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
    overflow-x: auto;
    overflow-y: auto;
}

.wordTab-results-div {
    width: 70%;
    padding-top: 5%;
}

.wordTab-results-yemun {
    font-size: 25px;
}

@media screen and (max-width: 1100px) {
    .word-power-card {
        height: 430px;
    }
}
