.word-power-card {
    /*height: 200px;*/
    padding: 1%;
}

.word-power-card-div-1 {
    color: #19609d;
    /*min-width: 250px;*/
}

.word-power-card-div-2 {
    overflow-x: auto;
    overflow-y: auto;
    height: 330px;
    width: 350px;
    justify-content: center;
}

.no-data {
    align-self: center;
    /*margin: auto;*/
    padding-top: 30px;
    padding-left: 10px;
    color: tomato;
    font-style: italic;
}

.word-power-grid-card {
    margin: 1% !important;
    /*max-width: 48% !important;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*width: "100%"*/
    flex-basis: 0;
    flex-grow: 1;
    /*min-width: 0;*/
    overflow-x: auto;
    overflow-y: auto;
}

.word-power-card-content {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

@media screen and (max-width: 1100px) {
    .word-power-card {
        height: 430px;
    }
}
